{% autoescape off %}
Hello,

We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.
<a href="
{{ c.protocol }}://{{ c.domain }}{% url 'password_reset_confirm' uidb64=c.uid token=c.token %}">
{{ c.protocol }}://{{ c.domain }}{% url 'password_reset_confirm' uidb64=c.uid token=c.token %}
</a>
This link can only be used once. If you need to reset your password again, please visit {{ c.protocol }}://{{c.domain}} and request another reset.

If you did not make this request, you can simply ignore this email.

Sincerely,
The Website Team

{% endautoescape %}
